body, html {
    background-color: #141611;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23284087' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    color: rgb(236, 170, 28);
    text-align: center;

}


h1 {
    font-family: 'Stalemate', cursive, 'Times New Roman', Times, serif;
    font-size: 75px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;

}
.directions {
    font-family: 'Cantata One', Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    margin-top: -14px;
    margin-bottom: 5px;
    margin-left: 325px;
    width: 600px;
}

.scoreBoard {
    line-height: 3px;
    margin-top: -15px;
}

.image {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 80px;
    display: inline;
}

.random {
    border: 3px solid;
    background-color: white;
    height: 60px;
    width: 130px;
    line-height: 5px;
    margin-left: 555px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-top: 5px;
    padding-bottom: 10px;

}

#crystals {
    margin-right: 20px;
}

.userScore {
    border: 3px solid;
    background-color: white;
    height: 20px;
    width: 100px;
    line-height: 3px;
    margin-left: 575px;
    margin-bottom: 5px;
    margin-top: 15px;
    padding-bottom: 40px;
    padding-top: -25px;
}

.footer {
    font-family: 'Coming Soon', cursive, 'Times New Roman', Times, serif;
    position: absolute;
    clear:both;
    color: rgb(236, 170, 28);
    text-align: center;
    margin-left: 550px;
    margin-top:  55px;
    height: 15px;
}

/*  font-family: 'Bevan', cursive;
    font-family: 'Homemade Apple', cursive;
    font-family: 'Cantata One', serif;
    font-family: 'Stalemate', cursive;
    font-family: 'Fascinate Inline', cursive;*/